@use "global" as *;

.blog {
  padding-top: rem(84);
  position: relative;

  @include mq(md){
    background-image: url("../images/common/bg-blog.jpg");
    background-position: top center;
    background-size: 100vw 60.5%;
    background-repeat: no-repeat;
    padding-top: rem(102);
  }
}

.blog__cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(40);
  margin-top: rem(28);


  @include mq(md){
    flex-direction: row;
    justify-content: space-between;
    margin-top: rem(80);
  }
}

.blog__btn {
  margin-top: rem(40);
  text-align: center;

  @include mq(md){
    margin-top: rem(80);
  }
}

.blog__drawing {
  display: none;

  @include mq(md){
    display: block;
    overflow: hidden;
    position: absolute;
    top: 3%;
    left: calc(100 / 1440 * 100vw);
    width: rem(437);
  }
}
