@use "global" as *;

footer {
  background-color: $blue;
  padding: rem(48) 0 rem(56);

  @include mq(md) {
    padding: rem(85) 0;
  }
}

.footer__site-title {
  display: flex;
  flex-direction: column;
  gap: rem(12);

  @include mq(md){
    flex-direction: row;
    gap: rem(36);
  }
}

.footer__site-title .site-title__logo {
  max-width: rem(120);
  width: 100%;

  @include mq(md){
    max-width: rem(204);
  }
}

.footer__site-title .site-title__logo img {
  max-width: inherit;

  @include mq(md){
    max-width: inherit;
  }
}

.footer__sns-links {
  display: flex;
  align-items: baseline;
  gap: rem(16);
}

.footer__sns-link {
  height: rem(24);
  width: rem(24);

  @include mq(md){
    height: rem(32);
    position: relative;
    top: 42%;
    width: rem(32);
  }
}


.footer__nav {
  display: flex;
  gap: rem(16);
  margin-top: rem(39);

  @include mq(md) {
    gap: rem(120);
    margin-top: rem(10);
  }
}

.footer__copyright {
  margin-top: rem(32);
  text-align: center;

  @include mq(md) {
    margin-top: rem(74);
  }
}


.footer__copyright small {
  color: $white;
  font-family: $english-font;
  font-size: rem(12);
  padding: 0 rem(14);
  @include mq(md) {
    font-size: rem(14);
    line-height: calc(18 / 14);
  }
}
