@use "global" as *;

.sp-nav__left {
  @include mq(md){
    display: flex;
    gap: rem(120);
  }
}

.sp-nav__right {
  @include mq(md){
    display: flex;
    gap: rem(120);
  }
}

.sp-nav__items:nth-child(even) {
  margin-top: rem(40);

  @include mq(md){
    margin-top: 0;
  }
}
.sp-nav__item:nth-child(even) {
  margin-top: rem(40);
}

.sp-nav__item {
  display: flex;
  flex-direction: column;
}
.sp-nav__item:not(:first-child) {
  margin-top: rem(40);
}

.sp-nav__item > a {
  color: $white;
  display: block;
  font-weight: $bold;
  line-height: calc(18 / 16);
  padding-left: 1.375em;
  position: relative;
}

.sp-nav__item > a::before {
  content: "";
  background-image: url("../images/common/seastar.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1.125em;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  vertical-align: bottom;
  width: 1.125em;
}

.sp-nav__sub-links {
  color: $white;
}

.sp-nav__sub-link {
  margin-top: rem(24);
}

.sp-nav__sub-link > a {
  display: block;
  line-height: calc(18 / 16);
  padding-left: 1.375em;
}
