@use "global" as *;

.top-campaign {
  overflow: hidden;
  margin-top: rem(45);
  padding-bottom: rem(6);
  position: relative;

  @include mq(md) {
    margin-top: rem(120);
  }
}

.top-campaign__inner {
  margin: auto;
  max-width: rem(1130);
  padding: 0 rem(15);
  width: 100%;

  @include mq(md) {
    padding: 0 rem(25);

  }
}

.top-campaign__container {
  margin-top: rem(33);
  margin-right: calc(50% - 50vw);

  @include mq(md) {
    margin-top: rem(46);
  }
}

.top-campaign__cards {
  display: flex;
  padding-bottom: rem(10);
  padding-left: rem(4);
}

.top-campaign__btn {
  margin-top: rem(30);
  text-align: center;

  @include mq(md) {
    margin-top: rem(69);
  }
}
