@use "global" as *;

.top-blog {
  padding-top: rem(84);
  position: relative;

  @include mq(md) {
    padding-top: rem(102);
  }
}

.top-blog__bg {
  display: none;

  @include mq(md) {
    background-image: url("../images/common/top-blog_bg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: rem(500);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.top-blog__inner {
  position: relative;


}

.top-blog__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(39);
  padding: 0 rem(6);
  place-items: center;
  margin-top: rem(34);


  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    place-items: initial;
    padding: 0;
    margin-top: rem(85);
  }
}

.top-blog__btn {
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}

.top-blog__drawing {
  display: none;

  @include mq(md) {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -11%;
    left: calc(50% - min(48vw, rem(621)));
    width: rem(437);
  }
}
