@use "global" as *;

.top-campaign {
  overflow: hidden;
  position: relative;
}

.top-campaign__inner {
  margin: auto;
  max-width: rem(1130);
  padding: 0 rem(15);
  width: 100%;

  @include mq(md){
    padding: 0 rem(25);

  }
}

.top-campaign__container {
  margin-top: rem(29);
  margin-right: calc(50% - 50vw);

  @include mq(md) {
    margin-top: rem(46);
  }
}

.top-campaign__swiper {
  width: 100%;
}

.top-campaign__cards {
  padding-bottom: rem(10);
  padding-left: rem(4);
}

.top-campaign__btn {
  margin-top: rem(30);
  text-align: center;

  @include mq(md) {
    margin-top: rem(70);
  }
}
