@use "global" as *;

.voice__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: rem(36);
  margin-top: rem(44);

  @include mq(md) {
    gap: rem(40);
    grid-template-columns: repeat(2, 1fr);
    margin-top: rem(30);
  }
}

.voice__btn {
  margin-top: rem(41);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}

.voice__drawing--top {
  display: none;

  @include mq(md) {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -19%;
    left: calc(100 / 1440 * 100vw);
    width: rem(301);
  }
}

.voice__drawing--bottom {
  display: none;

  @include mq(md) {
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: -11.5%;
    right: calc(180 / 1440 * 100vw);
    width: rem(71);

  }

}
