@use "global" as *;

.arrow {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: rem(40);
}

.arrow::before,
.arrow::after {
  content: "";
  background-color: $white;
  border-radius: 1px;
  height: rem(1);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  z-index: -1;
}

.arrow::before {
  left: 0;
  width: rem(40);
}

.arrow::after {
  right: 0;
  transform: rotate(45deg);
  transform-origin: right;
  width: rem(8);
}

.btn .arrow {
  margin-left: rem(8);
}
.btn:hover .arrow::before,
.btn:hover .arrow::after {
  background-color: $blue;
}

.arrow--bl {
  display: inline-block;
  position: relative;
  top: 30%;
  left: 25%;
  vertical-align: middle;
  width: 40px;
}

.arrow--bl::before,
.arrow--bl::after {
  content: "";
  background-color: $blue;
  border-radius: 1px;
  height: rem(1);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  z-index: 10;
}

.arrow--bl::before {
  left: 0;
  width: rem(40);
}

.arrow--bl::after {
  right: 0;
  transform: rotate(45deg);
  transform-origin: right;
  width: rem(8);
}
