@use "global" as *;

.card {
  background-color: #fff;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  max-width: rem(280);
  width: 100%;

  @include mq(md) {
    max-width: rem(333);
  }
}

.card__img {
  overflow: hidden;
}

.card__img img {
  aspect-ratio: 280 / 188;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card__body {
  width: 100%;
}

.card__header {
  padding: rem(16) rem(16) 0;
  text-align: left;

  @include mq(md) {
    padding: rem(24) rem(16) 0;
  }
}

.card__title {
  border-bottom: 1px solid $blue;
  font-size: rem(16);
  font-weight: $medium;
  margin-top: rem(4);
  padding-bottom: rem(8);
}

.card__category {
  border: 1px solid $blue;
  color: $blue;
  display: inline-block;
  font-size: rem(12);
  line-height: calc(22 / 12);
  padding: rem(3) rem(11);

  @include mq(md) {
    padding: rem(5) rem(15);
  }
}

.card__content {
  flex-grow: 1;
  margin-top: rem(5);
  padding: 0 rem(16) rem(24);
  text-align: center;

  @include mq(md) {
    margin-top: rem(16);
    padding: 0 rem(16) rem(40);
  }
}

.card__text {
  font-size: rem(14);
  line-height: calc(24 / 14);

  @include mq(md) {
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}

.card__price {
  font-family: $price-font;
  font-weight: $bold;
  line-height: 1;
  margin-top: rem(8);
}

.card__price--regular {
  font-size: rem(20);
  text-decoration: line-through solid #C94800 3px;

  @include mq(md) {
    font-size: rem(24);
  }
}

.card__price--discounted {
  color: $blue;
  font-size: rem(32);
  margin-left: rem(16);

  @include mq(md) {
    font-size: rem(40);
    margin-left: rem(24);
  }

}
