@use "global" as *;

.filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(16) rem(20);
  place-items: center;

  @include mq(md){
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(16) rem(32);
  }
}

.filters__item {
  max-width: rem(162);
  width: 100%;
}

.filters__item a {
  border: 1px solid $blue;
  color: $blue;
  cursor: pointer;
  display: block;
  font-size: rem(14);
  line-height: calc(22 / 14);
  padding: rem(5) rem(20);
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s ease;
  width: 100%;
}

.filters__item.current a {
  background-color: $blue;
  color: $white;
}

.filters__item a:hover {
  background-color: $blue;
  color: $white;
  transition: 0.3s ease;
}
