@use "global" as *;

.site-title__logo {
  display: flex;
  align-items: center;
  height: inherit;
}

.site-title__logo img {
  max-width: rem(102);
  width: 100%;

  @include mq(md){
    max-width: rem(133);
  }
}

.site-title__logo--md {
  max-width: rem(120);

  @include mq(md){
    max-width: rem(200);
  }
}

.site-title__logo--lg img{
  height: rem(65);
  max-width: rem(174);
  text-align: center;
  width: 100%;

  @include mq(md){
    height: rem(75);
    max-width: rem(200);
    width: 100%;
  }
}
