@use "global" as *;

.to-top {
  position: fixed;
  bottom: rem(16);
  right: rem(16);
  transition: bottom 0.3s ease;
  z-index: 100;

  @include mq(md){
    bottom: rem(20);
    right: rem(20);
  }
}


.to-top a {
  background-color: $white;
  border: 1px solid $blue;
  border-radius: 50%;
  display: block;
  height: rem(48);
  width: rem(48);

  @include mq(md){
    height: rem(80);
    width: rem(80);
  }
}

.to-top span {
  background-image: url("../images/common/arrow_to-top.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: rem(28);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(6);

  @include mq(md){

    height: rem(40);
    width: rem(8);
  }
}
